Package: PKG
Version: VER
Maintainer: Pavel Milanes <pavelmc@gmail.com>
Architecture: amd64
Section: main
Priority: optional
Depends: libc6 (>= 2.25), pv (>=1.5), python3 (>=3.5), python3-pyqt5 (>=5.10), python3-pyqt5.qtquick  (>=5.10), qml-module-qtquick2 (>=5.9), qml-module-qtquick-window2 (>=5.9), qml-module-qtquick-layouts(>=5.9), qml-module-qtquick-extras (>=5.9), qml-module-qtquick-dialogs (>=5.9), qml-module-qtquick-controls2 (>=5.9), qml-module-qtquick-controls (>=5.9), qml-module-qt-labs-folderlistmodel (>=5.9), qml-module-qt-labs-settings (>=5.9)
Installed-Size: SIZE
Description: A tool to customise your Skycoin Skyminer OS images
 Skyflash is the tool used to customise Skybian, the Skycoin Skyminers official OS.
 .
 Within this package we have skyflash and skyflash-cli
 .
 skyflash is a GUI interface written in Python3 + PyQT5 + QML and packaged with pyinstaller as a standalone executable elf file for the linux desktop.
 .
 skyflash-cli is a linux bash script that performs the same task but in command line.
