[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/skyflash
Icon=/usr/share/skyflash/skyflash.png
Type=Application
Terminal=false
Comment=Skycoin skyminer OS flashing & configuring tool
Name=Skyflash
GenericName=Skyflash
StartupNotify=true
Categories=Utility